{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}
<section id="team" class="team ">


    <div class="container">
        <h3 class="section-title">DÉPARTEMENT GÉNIE INDUSTRIEL</h3>

        <div class="row">
            <div class="col-lg-2">
            </div>


            <div class="col-lg-4">
                <h5 class="text-center sous-title" style="background-color: #00b3ff">Chef du département</h5>
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/women.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mme. NOUI Zineb</h4>
                        <span>Chef du département</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:zinoui@hotmail.com"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <h5 class="text-center sous-title" style="background-color: #00b3ff">Coordonnateur filière</h5>
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. HAIN Mustapha</h4>
                        <span>Coordonnateur filière</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:infohain@yahoo.fr"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>

            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. BAHNASSE Ayoub</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:a.bahnasse@gmail.com"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/women.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mme. BAYED Nadia</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:bayednadia@yahoo.fr"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. BOUTAHAR Youssef</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:youssefb-83@hotmail.com"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. FANIDI Omar</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:faomdo@yahoo.fr"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. FEDOUAKI faycal</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:fedouaki.faycal@gmail.com"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. JRIFI Abderrahim</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:jrifi@yahoo.fr"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. MEDDAOUI Anwar</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:ameddaoui@gmail.com"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. MOUTACHAOUIK Hicham</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:gotohicham@gmail.com"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/women.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mme. OUAZZANI TOUHAMI Naoual</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:nawalot@gmail.com"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/women.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mme. TAYANE Souad</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:souadtayane2013@gmail.com"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. ZAKRANI Abdelali</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href="mailto:zakrani@gmail.com"><i class="ri-mail-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>

                            <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}