{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}
<section id="team" class="team ">
    <div class="container">
        <h3 class="section-title">DÉPARTEMENT GÉNIE MÉCANIQUE</h3>

        <div class="row">
            <div class="col-lg-2">
            </div>


            <div class="col-lg-4">
                <h5 class="text-center sous-title" style="background-color: #00b3ff">Chef du département</h5>
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. MIKDAM Amine</h4>
                        <span>Chef du département</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:amine.mikdam@gmail.com"><i class="ri-mail-fill"></i></a>
                            amine.mikdam@gmail.com

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <h5 class="text-center sous-title" style="background-color: #00b3ff">Coordonnateur filière</h5>
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. KISSI Benaissa</h4>
                        <span>Coordonnateur filière</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:kissifst@yahoo.fr"><i class="ri-mail-fill"></i></a>
                            kissifst@yahoo.fr
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>

            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. AITELFQIH Mohammed</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:m.aitelfqih@gmail.com"><i class="ri-mail-fill"></i></a>
                            m.aitelfqih@gmail.com
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. AKHIATE Aziz</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:a.akhiate@gmail.com"><i class="ri-mail-fill"></i></a>
                            a.akhiate@gmail.com

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. ANAS Rachid</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:rachid.anas@gmail.com"><i class="ri-mail-fill"></i></a>
                            rachid.anas@gmail.com

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. BENSLIMANE Yassine</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:bensyassine@yahoo.fr"><i class="ri-mail-fill"></i></a>
                            bensyassine@yahoo.fr

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. ELHAOUZI Ahmed</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:elhaouzi4@gmail.com"><i class="ri-mail-fill"></i></a>
                            elhaouzi4@gmail.com
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. ENNAJI Mohamed</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:ennaji.moh@gmail.com"><i class="ri-mail-fill"></i></a>
                            ennaji.moh@gmail.com

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. MERROUN Ossama</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:meroun.ossama@gmail.com"><i class="ri-mail-fill"></i></a>
                            meroun.ossama@gmail.com

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. HADDOU El Ghazi</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:hadghazi@gmail.com"><i class="ri-mail-fill"></i></a>
                            hadghazi@gmail.com

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. LAARAJ Mohamed</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:aaraj@yahoo.com"><i class="ri-mail-fill"></i></a>
                            aaraj@yahoo.com

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. GUEMIMI Chafik</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:guemimichafik@gmail.com"><i class="ri-mail-fill"></i></a>
                            guemimichafik@gmail.com

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. TAHIR Youssef</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:ytahirensamcasa@gmail.com"><i class="ri-mail-fill"></i></a>
                            ytahirensamcasa@gmail.com

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. TSSOULI Azzedine</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:azzeddine.tsouli@gmail.com"><i class="ri-mail-fill"></i></a>
                            azzeddine.tsouli@gmail.com

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. TIMESLI Abdelaziz</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:abdelaziz.timesli@gmail.com"><i class="ri-mail-fill"></i></a>
                            abdelaziz.timesli@gmail.com

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. KHATIB Hamza</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:hnz.khatib@gmail.com"><i class="ri-mail-fill"></i></a>
                            hnz.khatib@gmail.com

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/man.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. EL KEBCH Ali</h4>
                        <span>Professeur</span>
                        <p>Departement:
                            Génie Mécanique</p>
                        <div class="social">
                            <a href="mailto:alibec_ma@yahoo.fr"><i class="ri-mail-fill"></i></a>
                            alibec_ma@yahoo.fr

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}