{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}
<style>
    .header {
        position: relative;
        border-bottom-right-radius: 50%;
        background: #07689f;
        overflow: hidden;
        word-wrap: break-word;
        min-height: 400px;
        padding: 0 50px;
        max-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header .title {
        text-align: center;
        margin: 0 auto;
        width: 60%;
        height: 100%;
    }

    .header .heading {
        font-weight: 900;
        color: #fafafa;
        font-size: 45px;
    }

    @media screen and (max-width: 890px) {
        .header .heading {
            font-size: 30px;
        }
    }

    .header .description {
        color: #fff;
        font-size: 16px;
    }

    @media screen and (max-width: 768px) {
        .header {
            padding: 0 0;
        }

        .header .title {
            padding: 0 0;
            width: 100%;
        }

        .header .description {
            display: none;
        }
    }

    .corps-professoral,
    .corps-administratif {
        padding: 0 10px;
    }

    .corps-professoral .card,
    .corps-administratif .card {
        background: #fff;
        margin: 0 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    }

    .corps-professoral h4.card-title,
    .corps-administratif h4.card-title {
        min-height: 60px;
        color: #173b5b;
        position: relative;
    }

    .corps-professoral h4.card-title:after,
    .corps-administratif h4.card-title:after {
        content: '';
        width: 90px;
        height: 3px;
        padding-left: 5px;
        background: #07689f;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .corps-professoral .blue-text,
    .corps-administratif .blue-text {
        color: #a2a2a2;
        height: 50px;
        overflow: hidden;
    }

    .corps-professoral .card-text,
    .corps-administratif .card-text {
        color: #a2a2a2;
        height: 30px;
    }

    .corps-professoral span,
    .corps-administratif span {
        color: #173b5b;
    }

    .corps-professoral .sous-title,
    .corps-administratif .sous-title {
        color: rgba(29, 45, 80, 0.7);
        font-weight: 500;
        font-size: 19px;
        border: solid 2px #ff7e67;
        background: #e3dfc8;
        padding: 5px 5px;
    }

    .corps-professoral .p1,
    .corps-professoral .p2,
    .corps-professoral .p3,
    .corps-administratif .p1,
    .corps-administratif .p2,
    .corps-administratif .p3 {
        position: relative;
        overflow: hidden;
        transition: 0.9 linear;
    }

    .section-title {
        font-family: Rubik, sans-serif;
        color: #07689f;
        padding: 10px 0px;
        font-weight: 600;
        position: relative;
        font-size: 30px;
        padding-bottom: 10px;
        text-transform: none;
        line-height: 42px;
        margin-bottom: 30px;
    }

    .section-title:after {
        content: '';
        width: 90px;
        height: 3px;
        padding-left: 5px;
        background: #07689f;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
</style>
<section class="header">
    <div class="title">
        <h1 class="heading mb-3">CORPS PROFESSORAL</h1>
        <p class="description mb-5">Les professeurs de L’ENSAM. À la fois chercheurs, auteurs d’ouvrages pédagogiques et
            conférenciers lors de colloques à caractère scientifique ou professionnel, ils sont avant tout des
            pédagogues réputés, soucieux de transmettre leur savoir et de participer à la formation de la relève.</p>
    </div>
</section>
<section id="team" class="team ">

    <div class="container">
        <h3 class="section-title">DÉPARTEMENT GÉNIE INDUSTRIEL</h3>

        <div class="row">

            <div class="col-lg-6">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mme. NOUI Zineb</h4>
                        <span>Chef du département</span>
                        <p>Departement:
                            Génie Industriel</p>
                        <div class="social">
                            <a href=""><i class="ri-mail-fill"></i></a>
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. HAIN Mustapha</h4>
                        <span>Coordonnateur filière</span>
                        <p>Departement:
Génie Industriel</p>
                        <div class="social">
                            <a href=""><i class="ri-mail-fill"></i></a>
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>

                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. BAHNASSE Ayoub</h4>
                        <span>Professeur</span>
                        <p>Departement:
Génie Industriel</p>
                        <div class="social">
                            <a href=""><i class="ri-mail-fill"></i></a>
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>

                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{%static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mme. BAYED Nadia</h4>
                        <span>Professeur</span>
                        <p>Departement:
Génie Industriel</p>
                        <div class="social">
                            <a href=""><i class="ri-mail-fill"></i></a>
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>

                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="content corps-professoral">
    <div class="container">
        <h3 class="section-title">DÉPARTEMENT GÉNIE INDUSTRIEL</h3>
        <div class="p1">
            <div class="row">
                <div class="col-lg"></div>

                <div class="col-lg-4 col-md-6 p-3">
                    <h5 class="text-center sous-title">Chef du département</h5>
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mme. NOUI Zineb</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">zinoui@hotmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <h5 class="text-center sous-title">Coordonnateur filière</h5>
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. HAIN Mustapha</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">infohain@yahoo.fr</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. BAHNASSE Ayoub</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">a.bahnasse@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mme. BAYED Nadia</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">bayednadia@yahoo.fr</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. BOUTAHAR Youssef</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">youssefb-83@hotmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. FANIDI Omar</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">faomdo@yahoo.fr</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. FEDOUAKI faycal</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">fedouaki.faycal@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. JRIFI Abderrahim</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">jrifi@yahoo.fr</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. MEDDAOUI Anwar</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">ameddaoui@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. MOUTACHAOUIK Hicham</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">gotohicham@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mme. OUAZZANI TOUHAMI Naoual</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">nawalot@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mme. TAYANE Souad</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">souadtayane2013@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. ZAKRANI Abdelali</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Industriel</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">zakrani@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="section-title">DÉPARTEMENT GÉNIE MÉCANIQUE</h5>
        <div class="p2">
            <div class="row">
                <div class="col-lg"></div>
                <div class="col-lg-4 col-md-6 p-3">
                    <h5 class="text-center sous-title">Chef du département</h5>
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. MIKDAM Amine</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>

                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">amine.mikdam@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <h5 class="text-center sous-title">Coordonnateur filière</h5>
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. KISSI Benaissa</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>

                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">kissifst@yahoo.fr</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. AITELFQIH Mohammed</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">m.aitelfqih@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. AKHIATE Aziz</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">a.akhiate@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. ANAS Rachid</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">rachid.anas@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. BENSLIMANE Yassine</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">bensyassine@yahoo.fr</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. ELHAOUZI Ahmed</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">elhaouzi4@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. ENNAJI Mohamed</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">ennaji.moh@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. MERROUN Ossama</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">meroun.ossama@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. HADDOU El Ghazi</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">hadghazi@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. LAARAJ Mohamed</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">aaraj@yahoo.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. GUEMIMI Chafik</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">guemimichafik@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. TAHIR Youssef</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">ytahirensamcasa@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. TSSOULI Azzedine</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">azzeddine.tsouli@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. TIMESLI Abdelaziz</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">abdelaziz.timesli@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. KHATIB Hamza</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">hnz.khatib@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. EL KEBCH Ali</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Mécanique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">alibec_ma@yahoo.fr</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="section-title">DÉPARTEMENT GÉNIE ELECTRIQUE</h3>
        <div class="p3">
            <div class="row">
                <div class="col-lg"></div>
                <div class="col-lg-4 col-md-6 p-3">
                    <h5 class="text-center sous-title">Chef du département</h5>
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. ZEGRARI Mourad</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Electrique</h5>

                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">mouradzegrari@yahoo.fr</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <h5 class="text-center sous-title">Coordonnateur filière</h5>
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. EL AFIA Aziz</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Electrique</h5>

                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">azelafia@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. AITELMAHJOUB Abdelhafid</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Electrique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">zinoui@hotmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. HAMLICH Mohamed</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Electrique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">moha.hamlich@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mme. MACHKOUR Nadia</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Electrique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">nadia.machkour@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. MOUTCHOU Mohamed</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Electrique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">m.moutchou@yahoo.fr</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mme. RABBAH Nabila</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Electrique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">nabila_rabbah@yahoo.fr</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. TOUATI Abdelwahed</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Electrique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">touati_2010@hotmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. MAJDOUL Radouane</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Electrique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">r_majdoul2@hotmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. BABA Youssef</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Electrique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">youssef.baba@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr. ESSAADOUI Alami</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement:</strong><br/> Génie Electrique</h5>
                            <div>
                                <span class="fas fa-envelope fa-2x"></span>
                            </div>
                            <div>
                                <h6 class="card-text">alami70@yahoo.fr</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
