
<section  class=" bg-light py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <div class="section-title">
                <center>
                    <h1 style="color:#1F5793">ENSAM EN CHIFFRE</h1>
                </center>
            </div>



            </div>
        </div>
    </div>

    <div class="container">
        <div class="row gy-4 gy-lg-0 align-items-lg-center">
            <!--      <div class="col-12 col-lg-6">-->
            <!--        <img class="img-fluid rounded" loading="lazy" src="./assets/img/fact-img-1.webp" alt="">-->
            <!--      </div>-->
            <div  class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <div class="row gy-4 gy-sm-0 overflow-hidden">
                            <div class="col-12 col-sm-6">
                                <div class="card border-0 border-bottom border-primary shadow-sm mb-4">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">69</h3>
                                        <p class="fs-5 mb-0 text-secondary">Enseignants permanents</p>
                                    </div>
                                </div>
                                <div class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">4</h3>
                                        <p class="fs-5 mb-0 text-secondary">Département</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">5</h3>
                                        <p class="fs-5 mb-0 text-secondary">Filière Diplôme Ingénieur
                                        </p>
                                    </div>
                                </div>
                                <div class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">3</h3>
                                        <p class="fs-5 mb-0 text-secondary">Filière Master

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <div class="row gy-4 gy-sm-0 overflow-hidden">
                            <div class="col-12 col-sm-6">
                                <div class="card border-0 border-bottom border-primary shadow-sm mb-4">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">10</h3>
                                        <p class="fs-5 mb-0 text-secondary">Filière Licence formation continue

                                        </p>
                                    </div>
                                </div>
                                <div class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">3</h3>
                                        <p class="fs-5 mb-0 text-secondary">Filière master formation continue

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">3</h3>
                                        <p class="fs-5 mb-0 text-secondary">Laboratoires techniques

                                        </p>
                                    </div>
                                </div>
                                <div class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">28</h3>
                                        <p class="fs-5 mb-0 text-secondary">Laboratoire de recherche</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="container">
        <div class="row gy-4 gy-lg-0 align-items-lg-center">
            <!--      <div class="col-12 col-lg-6">-->
            <!--        <img class="img-fluid rounded" loading="lazy" src="./assets/img/fact-img-1.webp" alt="">-->
            <!--      </div>-->
            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <div class="row gy-4 gy-sm-0 overflow-hidden">
                            <div class="col-12 col-sm-6">
                                <div class="card border-0 border-bottom border-primary shadow-sm mb-4">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">4</h3>
                                        <p class="fs-5 mb-0 text-secondary">Amphi théâtre

</p>
                                    </div>
                                </div>
                                <div class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">1</h3>
                                        <p class="fs-5 mb-0 text-secondary">Salle de Conférence
</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">1</h3>
                                        <p class="fs-5 mb-0 text-secondary">Salle polyvalente

                                        </p>
                                    </div>
                                </div>
                                <div class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">12</h3>
                                        <p class="fs-5 mb-0 text-secondary">Salle de cours


                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <div class="row gy-4 gy-sm-0 overflow-hidden">
                            <div class="col-12 col-sm-6">
                                <div class="card border-0 border-bottom border-primary shadow-sm mb-4">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">4</h3>
                                        <p class="fs-5 mb-0 text-secondary">Salle de Tp Informatique


                                        </p>
                                    </div>
                                </div>
                                <div class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">1</h3>
                                        <p class="fs-5 mb-0 text-secondary">Terrain de sport


                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">24</h3>
                                        <p class="fs-5 mb-0 text-secondary">Corps administratif

                                        </p>
                                    </div>
                                </div>
                                <div class="card border-0 border-bottom border-primary shadow-sm">
                                    <div class="card-body text-center p-4 p-xxl-5">
                                        <h3 class="display-2 fw-bold mb-2">2011</h3>
                                        <p class="fs-5 mb-0 text-secondary">Année d'existence
</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>