{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}
  <style>
    .header {
      position: relative;
      border-bottom-right-radius: 50%;
      background: #07689f;
      overflow: hidden;
      word-wrap: break-word;
      min-height: 400px;
      padding: 0 50px;
      max-height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .header .title {
      text-align: center;
      margin: 0 auto;
      width: 60%;
      height: 100%;
    }
    
    .header .heading {
      font-weight: 900;
      color: #fafafa;
      font-size: 45px;
    }
    
    @media screen and (max-width: 890px) {
      .header .heading {
        font-size: 30px;
      }
    }
    
    .header .description {
      color: #fff;
      font-size: 16px;
    }
    
    @media screen and (max-width: 768px) {
      .header {
        padding: 0 0;
      }
    
      .header .title {
        padding: 0 0;
        width: 100%;
      }
    
      .header .description {
        display: none;
      }
    }
  </style>
  <section class="header">
    <div class="title">
      <h1 class="heading mb-3">SERVICES AUX ETUDIANTS</h1>
    </div>
  </section>
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
     <div style="background-color: white" class="row">
        <div class="col-lg-8 entries">
<style>

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
     color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,
  -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
   background-image: linear-gradient(125deg,#a72879,#064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}
/* Styles pour le select */
.contact-form select {
  display: block;
  width: 100%;
  height: 36px;
  border: 2px solid #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  appearance: none; /* Cela masque les styles de sélection par défaut du navigateur */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 10px;
  background-image: linear-gradient(45deg, transparent 50%, #5543ca 50%),
                    linear-gradient(135deg, #5543ca 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) 1em;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.contact-form select:focus {
  outline: none;
}

/* Styles pour le label du select */
.contact-form select + .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.contact-form select:focus + .label,
.contact-form select.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}


</style>
<!------ Include the above in your HEAD tag ---------->

<section class="get-in-touch">
   <h1 class="title"><img style="height: 200px;width: 200px;" src="http://www.ensam-casa.ma/assets/images/hat.svg"></h1>
  <center><h5>Votre demande sera traitée dans 48H</h5></center>
   <form class="contact-form row">
     <center><h4>VOS INFORMATIONS PERSONNELS</h4></center>
      <div class="form-field col-lg-6">
         <input id="name" class="input-text js-input" type="text" required>
         <label class="label" for="name">Nom</label>
      </div>
      <div class="form-field col-lg-6 ">
         <input id="prenom" class="input-text js-input" type="text" required>
         <label class="label" for="prenom">Prenom</label>
      </div>
      <div class="form-field col-lg-6 ">
         <input id="company" class="input-text js-input" type="text" required>
         <label class="label" for="company">CIN</label>
      </div>
       <div class="form-field col-lg-6 ">
         <input id="phone" class="input-text js-input" type="text" required>
         <label class="label" for="phone">N° Apogee</label>
      </div>

     <div class="form-field col-lg-6">
       <select>
         <option>--choisissiez votre niveau---</option>
         <option>option1</option>
         <option>option2</option>
       </select>
      </div>
      <div class="form-field col-lg-6">
       <select>
         <option>--choisissiez votre filiere---</option>
         <option>option1</option>
         <option>option2</option>
       </select>
      </div>
     <div class="form-field col-lg-6">
       <select>
         <option>--choisissiez votre type de document---</option>
         <option>option1</option>
         <option>option2</option>
       </select>
      </div>
      <div class="form-field col-lg-6">
       <input id="year" class="input-text js-input" type="text" required>
         <label class="label" for="company">Year</label>
      </div>
      <div class="form-field col-lg-12">
         <center><input class="submit-btn" type="submit" value="Next"></center>
      </div>
   </form>
</section>
        </div>
        <!-- End blog entries list -->
        <div class="col-lg-4">
          <div class="sidebar">
            <h4>LIENS DIRECTS</h4>
            <div class="sidebar-item categories">
              <ul>
               {% show_menu 0 0  %}
              </ul>
              <!-- End sidebar categories -->
            </div>

            <h3 class="sidebar-title">LES PLUS RECENTS</h3>
            <div class="sidebar-item recent-posts">
              <div class="post-item clearfix">
                <h4><a href="blog-single.html">HUAWEI ICT COMPETITION 2023-2024 NATIONAL PHASE</a></h4>
              </div>
              <div class="post-item clearfix">
                <h4><a href="blog-single.html">Avis d’inscription au cycle doctoral 2023-2024</a></h4>
              </div>
              <div class="post-item clearfix">
                <h4><a href="blog-single.html">Liste des candidats à convoquer à l'entretien pour..</a></h4>
              </div>
              <div class="post-item clearfix">
                <h4><a href="blog-single.html">The fifth International Conference on Smart Applic...</a></h4>
              </div>
              <div class="post-item clearfix">
                <h4><a href="blog-single.html">إعلان عن فتح باب الترشيح لشغل مناصب رؤساء المصالح...</a></h4>
              </div>
              <div class="post-item clearfix">
                <h4><a href="blog-single.html">International Conference on Friendly Mobility and...</a></h4>
              </div>
              <div class="post-item clearfix">
                <h4><a href="blog-single.html">الرتشـيحات للتسـجيل في تكوينـات الدكتـوراه برسـم ا...</a></h4>
              </div> <div class="post-item clearfix">
                <h4><a href="blog-single.html">Résultats du concours commun d’accès en première a...</a></h4>
              </div> <div class="post-item clearfix">
                <h4><a href="blog-single.html">Réinscription en Doctorat pour l'Année Universitai...</a></h4>
              </div> <div class="post-item clearfix">
                <h4><a href="blog-single.html">Liste des Admis du Concours National Commun à l'Ec...</a></h4>
              </div>
            </div>
            <!-- End sidebar recent posts -->
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
